body {
  background-color: silver;
  color: rgb(255,51,51);
  font-family: calibri;
  margin: 5px;
}
div {
  width: 100%;
}
img {
  height: 25vh;
  width: 25vw;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}
img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}
.topbody {
  color: gold;
}
.secondbody {
  color: pink;
}
#this {
  color: blue;
}
